<% provide(:title, 'Contact') %>
<% provide(:heading, 'Contact Me') %>
<% provide(:sub_heading, 'Have questions? I have answers.') %>
<% provide(:bg_image, 'contact-bg.jpg') %>

<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h5>Want to get in touch? I will provide my information below and feel free to reach out to me!</h5>
                <div class="my-5">
                    <h6>Email                    : robin@ukirama.com</h6>
                    <h6>Main Phone Number        : +62 856 6809 3174</h6>
                    <h6>Secondary Phone Number   : +62 812 3456 7890</h6>
                    <h6>Line                     : sample_robin </h6>
                </div>
            </div>
        </div>
    </div>
</main>
        