<% provide(:title, 'Edit Blog Post') %>
<% provide(:heading, 'Edit Blog Post') %>
<% provide(:sub_heading, 'You can edit blog post\'s information here') %>
<% provide(:bg_image, 'blog-post-bg.png') %>

<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <%= render 'form', blog_post: @blog_post %>
                <%= link_to 'Show', @blog_post %> |
                <%= link_to 'Back', blog_posts_path %>
            </div>
        </div>
    </div>
</main>
