<% provide(:title, 'New Blog Post') %>
<% provide(:heading, 'New Blog Post') %>
<% provide(:sub_heading, 'You can create new blog post here') %>
<% provide(:bg_image, 'blog-post-bg.png') %>

<!-- Main Content--> 
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7"> 
                <%= render 'form', blog_post: @blog_post %>
                <%= link_to 'Home', blog_posts_path %>
            </div>
        </div>
    </div>
</main>