<% provide(:title, 'Blog Posts') %>
<% provide(:heading, @blog_post.title) %>
<% provide(:sub_heading, @blog_post.summary) %>
<% provide(:bg_image, @blog_post.title_image_url) %>

<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p style="text-align:justify"><%= @blog_post.content %></p>
                <h6>
                    Tags:
                    <% @blog_post.tags.each do |tag| %>
                        <%= link_to tag.name, tag_path(tag) %>
                    <% end %>
                </h6>

                <% if logged_in? && current_user.is_admin%>
                    <%= link_to 'All Posts', blog_posts_path %> |
                    <%= link_to 'Want to edit the post? Click here', edit_blog_post_path(@blog_post) %> 
                <% end %> 
            </div>
        </div>
    </div>
</article>
