<% provide(:title, 'New User') %>
<% provide(:heading, 'New User') %>
<% provide(:sub_heading, 'You can create new user here') %>
<% provide(:bg_image, 'users-bg.jpg') %>

<!-- Main Content--> 
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7"> 
                <%= render 'form', user: @user %>
                <%= link_to 'Back', users_path %>
            </div>
        </div>
    </div>
</main>
