<header class="masthead" style="background-image: url('<%= full_bg_image(yield(:bg_image)) %>')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1><%= full_heading(yield(:heading)) %></h1>
                    <span class="subheading"><%= full_sub_heading(yield(:sub_heading)) %></span>
                </div>
            </div>
        </div>
    </div>
</header>